Checks:          'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,bugprone-*,performance-*,-modernize-use-trailing-return-type,-modernize-use-nodiscard,-bugprone-easily-swappable-parameters'
WarningsAsErrors: true